{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/strict",
    "plugin:react/all",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "airbnb"
  ],
  "rules": {
    "no-confusing-arrow": 0,
    "arrow-parens": [
      "error",
      "always"
    ],
    "curly": [
      "error",
      "all"
    ],
    "react/state-in-constructor": [
      1,
      "never"
    ],
    "max-statements-per-line": [
      "error",
      {
        "max": 1
      }
    ],
    "no-duplicate-imports": [
      "error",
      {
        "includeExports": true
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "never",
        "children": {
          "when": "never"
        },
        "allowMultiline": true
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "react/jsx-first-prop-new-line": [
      "error",
      "multiline"
    ],
    "react/prop-types": 0,
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "styled-components",
            "message": "Please import from styled-components/macro."
          }
        ],
        "patterns": [
          "!styled-components/macro"
        ]
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect",
      "linkComponents": [
        // Components used as alternatives to <a> for linking, eg. <Link to={ url } />
        "Hyperlink",
        {
          "name": "Link",
          "linkAttribute": "to"
        },
        {
          "name": "NavLink",
          "linkAttribute": "to"
        }
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}